<%= simple_form_for(resource, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>

<body>
  <div class="form-inputs">
    <h2>Register</h2>
      <p>Please fill in this form to create an account.</p>
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <p><%= f.text_field :email, autocomplete: 'off' %></p>

      <label for="psw">
        <p><b>Password</b> | <i>Password must be at least 6 characters</i></p>
      </label>
        <p><%= f.password_field :password %></p>

      <label for="psw-repeat"><b>Password Confirmation</b></label>
        <p><%= f.password_field :password_confirmation %></p>

      <div class="form-actions">
          <%= f.submit "Register", class: "button" %>
      </div>
      <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</body>
