<%= simple_form_for ([@project, @project.tasks.build]) do |f| %>
  <br/>
  <%= render 'shared/projects_error_messages' %>
<label>Title</label>
  <%= f.text_field :title %>

  <%= f.input :description %>
  <style>
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #3F516B;
    font-size: 16px;
    resize: none;
  }
  </style>
  <br/>

  <%= f.select :job_type, options_for_select(["Programming", "Music", "Art", "Story", "Level Design", "Puzzles", "Miscellaneous"]), prompt: "-select-"  %>
  <br/>
  <br/>
  <%= f.submit %>
<% end %>
