<%= simple_form_for ([@project, @project.tasks.build]) do |f| %>

  <%= render 'shared/projects_error_messages' %>
<label>Title</label>
  <%= f.text_field :title %>

  <%= f.input :description %>
  <style>
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  </style>

  <%= f.select :job_type, options_for_select(["Programming", "Music", "Art", "Story", "Level Design", "Puzzles", "Miscellaneous"]), prompt: "-select-"  %>
  <%= f.submit %>
<% end %>
