<div id="comments">
  <div class="projects">
    <p class="task">
      <b><%= link_to task.title, task %></b>
    </p>
    <p style="display: inline-block; margin: 0;">Description:</p>
    <p style="display: inline-block; margin: 0;" class="desc">
      <%= task.description %>
    </p>
    <p style="display: inline-block; margin: 0;">|</p>
    <p style="display: inline-block; margin: 0;">Status:</p>
    <p style="display: inline-block; margin: 0;" class="status">
      <%= task.status %>
    </p>
    <p style="display: inline-block; margin: 0;">|</p>
    <p style="display: inline-block; margin: 0;">Task type:</p>
    <p style="display: inline-block; margin: 0;" class="job_type">
      <%= task.job_type %>
    </p>
    <p style="display: inline-block; margin: 0;">|</p>
    <p style="display: inline-block; margin: 0;">Assigned to:</p>
    <p style="display: inline-block; margin: 0;" class="user">
      <% if task.accepted %>
          <%= task.user.try(:email) %>
      <% elsif task.pending_users.include? current_user.id %>
        [Requested]
      <% else %>
        [Still Available]
      <% end %>
    </p>
    <p>
    <% if current_user == task.user %>
      <% if task.status == "inProg" %>
        <%= link_to "Mark as complete", task_progress_task_path(task), method: :put %>
        |
      <% elsif task.status == "recent" %>
        <%= link_to "Undo completed", task_regress_task_path(task), method: :put %>
        |
      <% end %>
    <% end %>
    <% if current_user == task.project.user %>
      <%= link_to "Edit", edit_project_task_path(task.project, task) %>
      |
      <%= link_to "Delete", [task.project, task], method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    </p>
  </div>
</div>
