<div id="comments">
  <div class="content">
    <p class="task">
      <b><%= link_to task.title, task %></b>
    </p>
    <p style="display: inline-block; margin: 0;">Description:</p>
    <p style="display: inline-block; margin: 0;" class="desc">
      <%= task.description %>
    </p>
    <p style="display: inline-block; margin: 0;">|</p>
    <p style="display: inline-block; margin: 0;">Status:</p>
    <p style="display: inline-block; margin: 0;" class="status">
      <%= task.status %>
    </p>
    <p style="display: inline-block; margin: 0;">|</p>
    <p style="display: inline-block; margin: 0;">Assigned to:</p>
    <p style="display: inline-block; margin: 0;" class="user">
      <% if task.accepted %>
          <%= task.user.try(:email) %>
        <% if task.user == current_user %>
        <% end %>
      <% else %>
        [Still Available]
      <% end %>
    </p>
    <p>
    <% if current_user == task.user && task.status == "inProg" %>
      <%= link_to "Mark as complete", task_progress_task_path(task), method: :put %>
    <% end %>
    <% if current_user == task.project.user %>
      <%= link_to "Edit", edit_project_task_path(task.project, task) %>
      <%= link_to "Delete", [task.project, task], method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    </p>
  </div>
</div>
