<div id="tasks">
  Sort By:
  <%= link_to 'Newest', :sort => "created_at" %>
  |
  <%= link_to 'A-Z', :sort => "name" %>
  |
  <%= link_to 'Z-A', :sort => "name_reverse" %>
  |
  <%= link_to 'Recently Updated', :sort => "updated_at" %>
  <% @tasks.each do |task| %>
    <div class="task">
      <h2 class="title">
        <%= link_to task.title, task %>
      </h2>
      <p class="date">
        For
        <%= task.project.name %>
      </p>
      <p class="date">
        Published
        <%= time_ago_in_words(task.created_at) %>
        ago to
        <%= task.project.name %>
      </p>
    </div>
  <% end %>
</div>
