<br>

<div id="projects">

  <h1> Current Tasks (<%= Task.where(:status => "inProg").where(:user => current_user).length %>) </h1>
   <br>
   <% current_user.tasks.reverse_each do |task| %>
   <% if task.status == "inProg" %>
    <h5>
     <%= link_to task.title, task %> for <%= link_to task.project.name, task.project %> (<b><%= task.job_type %></b>)
    </h5>
    <p>
      Description: <%= task.description %>
    </p>
    <p>
      <%= link_to "Mark as complete", task_progress_task_path(task), method: :put %>
    </p>
  <hr>
   <% end %>
   <% end %>
</div>

<br>

<div id="projects">
  <h1> Tasks </h1>
  <p style="display: inline">
  Sort By:
  <%= link_to 'Newest', :sort => "created_at", :sorttype => params[:sorttype] %>
  |
  <%= link_to 'A-Z', :sort => "name", :sorttype => params[:sorttype]  %>
  |
  <%= link_to 'Z-A', :sort => "name_reverse", :sorttype => params[:sorttype] %>
  |
  <%= link_to 'Recently Updated', :sort => "updated_at", :sorttype => params[:sorttype] %>
  </p>
  <span style="float:right;">
  Type:
  <%= link_to 'All', task_index_path %>
  |
  <%= link_to 'Programming', :sorttype => "programming", :sort => params[:sort] %>
  |
  <%= link_to 'Music', :sorttype => "music", :sort => params[:sort] %>
  |
  <%= link_to 'Art', :sorttype => "art", :sort => params[:sort] %>
  |
  <%= link_to 'Story', :sorttype => "story", :sort => params[:sort] %>
  |
  <%= link_to 'Level Design', :sorttype => "level", :sort => params[:sort] %>
  |
  <%= link_to 'Puzzles', :sorttype => "puzzles", :sort => params[:sort] %>
  |
  <%= link_to 'Miscellaneous', :sorttype => "misc", :sort => params[:sort] %>
  </span>
  <br>
  <br>
  <%= paginate @tasks %>

  <% @tasks.reverse_each do |task| %>
    <div class="project">
      <h2 class="title">
        <%= link_to task.title, task %>
      </h2>
      <p class="date">
        Published
        <%= time_ago_in_words(task.created_at) %>
        ago to
        <%= link_to task.project.name, task.project %>
      </p>
    </div>
  <% end %>
</div>
