<div id="projects">
  <h1> Tasks </h1>
  Sort By:
  <%= link_to 'Newest', :sort => "created_at", class: "link" %>
  |
  <%= link_to 'A-Z', :sort => "name" %>
  |
  <%= link_to 'Z-A', :sort => "name_reverse" %>
  |
  <%= link_to 'Recently Updated', :sort => "updated_at" %>

  <br>
  <br>
  <%= form_tag task_index_path, :method => 'get' do %>
    <%= text_field_tag :project_search, params[:project_search], autocomplete: "off", class: "form-control", placeholder: "Search Project" %>
  <% end %>

  <% @tasks.each do |task| %>
    <div class="project">
      <h2 class="title">
        <%= link_to task.title, task %>
      </h2>
      <p class="date">
        Published
        <%= time_ago_in_words(task.created_at) %>
        ago to
        <%= link_to task.project.name, task.project %>
      </p>
    </div>
  <% end %>
</div>
