<div id="task_content">
  <%= link_to "Back to Jobs", task_index_path, class: "button" %>
  <%= link_to "See game for this job", @task.project, class: "button" %>
  <h1>
    <%= @task.title %>
  </h1>
  <h4>
    <%= @task.description %>
  </h4>
  Progress:
  <h5>
    <%= @task.status %>
  </h5>
  Assigned to:
  <h5>
    <% if !@task.accepted %>
      No one, yet
      <% if !@task.pending_users.include? current_user.id %>
        <% if @task.project.user != current_user %>
          <%= link_to "Request Task", task_request_task_path(@task), method: :put, class: "button" %>
        <% end %>
      <% end %>
    <% else %>
        <%= @task.user.email %>
        <% if @task.user == current_user || @task.project.user == current_user %>
          <%= link_to "Drop", task_drop_task_path(@task), method: :put, class: "button" %>
        <% end %>
    <% end %>
  </h5>
  <% if @task.project.user == current_user %>
    <% if !@task.accepted %>
      <% @task.pending_users.each do |id| %>
        <% @user = User.find(id) %>
        <%= @user.email %>
        <%= link_to "Accept", task_accept_user_path(:task_id => @task.id, :user_id => id), method: :put, class: "button" %>
      <% end %>
    <% end %>
    <%= link_to "Edit", edit_project_task_path(@task.project, @task), class: "button" %>
    <%= link_to "Delete", [@task.project, @task], method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
  <% end %>
</div>
