<div id="task_content">
  <%= link_to "Back to Jobs", task_index_path, class: "button" %>
  <h1>
    <%= @task.title %>
  </h1>
  <h4>
    <%= @task.description %>
  </h4>
  Progress:
  <h5>
    <%= @task.status %>
  </h5>
  <h5>
    Assigned to
    <% if @task.user == nil %>
      <p> No one, yet </p>
    <% else %>
      <p>
        <%= @task.user.email %>
      </p>
    <% end %>
  </h5>
</div>
