<div id="task_content">
  <%= link_to "Back to Jobs", task_index_path, class: "button" %>
  <h1>
    <%= @task.title %>
  </h1>
  <h4>
    <%= @task.description %>
  </h4>
  Progress:
  <h5>
    <%= @task.status %>
  </h5>
  Assigned to:
  <h5>
    <% if !@task.accepted %>
      No one, yet
      <%= link_to "Accept Task", task_accept_task_path(@task), method: :put, class: "button" %>
    <% else %>
        <%= @task.user.email %>
        <% if @task.user == current_user %>
          <%= link_to "Drop", task_drop_task_path(@task), method: :put, class: "button" %>
        <% end %>
    <% end %>
  </h5>
</div>
