<style>
  .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  top: 1;
  left: 0;
  background-color: #131c29; /* Black */
  padding-top: 10px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
    width: 95%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }

  .sidenav a:hover {
    color: #3e764a;
  }

  .back_link {
    background-color: #3F516B
  }
</style>
<div class="sidenav">
  <%= link_to "Back to Jobs", task_index_path, class: "back_link" %>
  <br>
  <%= link_to "See #{@task.project.name}", @task.project, class: "back_link" %>
</div>
<div id="project_content">
  <h1>
    <%= @task.title %>
  </h1>
<div style="display: flex">
  <div id="rcorners2-taskdescription">
    Description:
  <h5>
    <%= @task.description %>
  </h5>
  </div>
<br>
  <div style="width: 20%">
  <div id="rcorners2-taskinfo">
    <p><label>Job Type:&nbsp;</label><b><%= @task.job_type %> </b></p>
    <p><label>Progress:&nbsp;</label><b><%= @task.status %> </b></p>
  </div>
<br>
  <div id="rcorners2-taskinfo">
  Assigned to:
  <h5 style="margin-bottom: 0;">
    <% if !@task.accepted %>
      <% if @task.pending_users.include? current_user.id %>
        Still Available (Requested)
      <% else %>
        Still Available
      <% end %>
    </h5>
    <p>
      <% if !@task.pending_users.include? current_user.id %>
        <% if @task.project.user != current_user %>
          <%= link_to "Request Task", task_request_task_path(@task), method: :put %>
        <% end %>
      <% end %>
    <% else %>
    </p>
    <div id="thumbnail">
      <h5  style="margin-bottom: 0;">
        <% if @task.user.resume.avatar == nil %>
          <%= image_tag('no_avatar.jpg', draggable: false) %>
        <% else %>
          <%= image_tag @task.user.resume.avatar.standard.url %>
        <% end %>
        <% if @task.user.resume == nil %>
          <%= link_to @task.user.email, user_resume_search_path(@task.user) %>
        <% else %>
          <%= link_to @task.user.resume.name, user_resume_search_path(@task.user) %>
        <% end %>
      </h5>
    </div>
    <p>
        <% if @task.user == current_user || @task.project.user == current_user %>
          <% if @task.user == current_user %>
          <% if @task.status == "inProg" %>
            <%= link_to "Mark as complete", task_progress_task_path(@task), method: :put %>
            <br>
          <% elsif @task.status == "recent" %>
            <%= link_to "Undo completed", task_regress_task_path(@task), method: :put %>
            <br>
          <% end %>
        <% end %>
          <%= link_to "Drop", task_drop_task_path(@task), method: :put %>
        <% end %>
    <% end %>
  </p>
  </div>
  </div>
</div>

  <% if @task.project.user == current_user %>
    <% if !@task.accepted %>
      <br>
      <div id="rcorners2-pendingusers">
        Pending Users:
      <% @task.pending_users.each do |id| %>
        <% @user = User.find(id) %>
        <div id="thumbnail">
          <% if @user.resume.avatar == nil %>
            <%= image_tag('no_avatar.jpg', draggable: false) %>
          <% else %>
            <%= image_tag @user.resume.avatar.standard.url %>
          <% end %>
          <%= link_to @user.email, user_resume_search_path(@user) %>
          <%= link_to "Accept", task_accept_user_path(:task_id => @task.id, :user_id => id), method: :put, class: "button" %>
        </div>
        <br>
        <br>
        <br>
      <% end %>
    <% end %>
    </div>
    <br>
    <div style="height: 1px; width: 100%; background: #2a3953; margin-bottom: 1%"></div>
    <%= link_to "Edit", edit_task_path(@task) %>
    &nbsp;
    <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to do this ?" } %>
  <% end %>
</div>
