<% if user_signed_in? %>
<h2><font color="#E5E5E5">Welcome, <%= current_user.email %>!</font></h2>
<p><font color="#E5E5E5">What would you like to do now?</font></p>
  <br>
  <br>
  <%= link_to "New Post", new_post_path, class: "button" %>
  <%= link_to "New Project", new_project_path, class: "button" %>
  <%= link_to "Your Resume", user_resume_search_path(current_user), class: "button" %>
  <br>
  <br>
<div style="background:#192231; border-radius:5px; padding:10px;">
 Liked Posts:
  <br>
  <% Post.all.each do |post| %>
    <% if current_user.voted_up_for? post %>
    <div class="post">
      <div style="display: inline-block; padding-left: 20px">
      <h3 class="title">
        <%= link_to post.title, post %>
      </h3>
      <p class="date">
        Published
        <%= time_ago_in_words(post.created_at) %>
        ago by
        <%= post.user.email %>
      </p>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
<br>
  <div style="background:#192231; border-radius:5px; padding:10px;">
   Current Tasks:
    <br>
    <% current_user.tasks.each do |task| %>
      <% if task.accepted %>
        > <%= link_to task.title, task %> ( <%= link_to task.project.name, task.project %> ) - <%= task.job_type %>
        <br>
      <% end %>
    <% end %>
  </div>

<% end %>
<% if !user_signed_in? %>
  <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
  <span> or &nbsp;&nbsp;&nbsp;</span>
  <%= link_to "Sign In!", new_user_session_path, class: "button" %>
<% end %>
