
<!DOCTYPE html>
<html>
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<br>
<br>
<br>
<br>
<body class="#131c29">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div id="posts">

        <div class="w3-display-container">
          <img src="http://seel.cse.lsu.edu/images/people/grant.png" style="width:100%">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <h2><b><font color="#E5E5E5">
          <% if @user.resume != nil %>
            <%= @user.resume.name %>
          <% end %>
        </font></b></h2>
        <div class="w3-container">

          <p><i class="fa fa-home fa-fw w3-margin-right w3-large "></i>
            <% if @user.resume != nil %>
              <%= @user.resume.location %>
            <% end %>
          </p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i><%= @user.email %></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large "></i>
            <% if @user.resume != nil %>
              <%= @user.resume.phone_number %>
            <% end %>
          </p>
            <% if @user == current_user %>
              <p><i class="fa fa-bars fa-fw w3-margin-right w3-large "></i>
              <% if current_user.resume == nil %>
                <%= link_to "Create your resume", new_resume_path %>
              <% else %>
                <%= link_to "Edit Resume", edit_resume_path(current_user.resume) %>
              <% end %>
              </p>
            <% end %>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right "></i>Skills</b></p>
          <% def find_percent(category, rating_cat) %>
            <% if rating_cat == nil %>
              <% rating_cat = 0 %>
            <% end %>
            <% @tasks = Task.where(:reviewed => true).where(:job_type => category).where(:user => @user) %>
            <% @total_task_rating = @tasks.length*5 %>
            <% if @total_task_rating == 0 %>
              <% @total_task_rating = 1 %>
            <% end %>
            <% @percent = ((rating_cat.to_f/@total_task_rating.to_f)*100).ceil %>
            <% if @percent == 0 %>
              <% @percent = "none" %>
            <% end %>
            <% @percent %>
          <% end %>

          <% @cats = "Programming", "Music", "Art", "Story", "Level Design", "Puzzles", "Miscellaneous" %>
          <% @cats2 = @user.programming_rating, @user.music_rating, @user.art_rating, @user.story_rating, @user.level_design_rating, @user.puzzles_rating, @user.misc_rating %>
          <% @count = 0 %>
          <% @cats.each do |cat| %>
            <% @percent = find_percent(cat, @cats2[@count]) %>
            <% @count += 1 %>
            <div style="display:<%=@percent%>;">
              <p><%=cat%> (<%= Task.where(:reviewed => true).where(:job_type => cat).where(:user => @user).length%>)</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <% if @percent.to_i < 30 %>
                  <% @color = 'red'%>
                <% elsif @percent.to_i > 30 && @percent.to_i < 70 %>
                  <% @color = 'yellow' %>
                <% else %>
                  <% @color = 'green' %>
                <% end %>
                <div class="w3-container w3-center w3-round-xlarge w3-<%=@color%>" style="width:<%=@percent%>%;">
                  <div class="w3-center w3-text-black"><%=@percent%>%</div>
                </div>
              </div>
            </div>
          <% end %>
       <br>
        </div>
        </div>
      <br>
    <!-- End Left Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-twothird">

      <div id="posts">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge"></i>Bio</h2>

        <div class="w3-container">
          <p>
<!-- Leave this aligned to far left.  It needs to be like this for the formatting to work. -->
<pre>
<% if @user.resume != nil %>
<%= @user.resume.biography %>
<% end %>
</pre>
          </p>
        </div>
      </div>
      <br>
      <div id="posts">
        <% @count = 0 %>
        <% @user.tasks.reverse_each do |task| %>
          <% if task.status == "recent" %>
            <% @count = @count + 1 %>
          <% end %>
        <% end %>

              <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge "></i>Completed Tasks (<%= @count %>)</h2>
                 <div style="overflow: auto; height: auto; max-height: 420px">
                  <% @user.tasks.reverse_each do |task| %>
                    <% if task.status == "recent" %>
                      <div class="w3-container">
                        <h5 class="w3-opacity"><b><%= link_to task.title, task %> ( <%= link_to task.project.name, task.project %> ) - <%= task.job_type %></b></h5>
                        <p><b>Description:</b> <%= task.description %></p>
                        <hr>
                      </div>
                    <% end %>
                  <% end %>
                  </div>
      </div>
      <br>
      <% if @user == current_user %>
          <div style="background:#192231; border-radius:5px; padding:10px;">
          <h5> Liked Posts: </h5>
          <div style="overflow: auto; height: auto; max-height: 420px">
            <% Post.all.each do |post| %>
              <% if current_user.voted_up_for? post %>
              <div class="post">
                <div style="display: inline-block; padding-left: 20px">
                <h4 class="title">
                  <%= link_to post.title, post %>
                </h4>
                <p class="date">
                  Published
                  <%= time_ago_in_words(post.created_at) %>
                  ago by
                  <%= link_to post.user.email, user_resume_search_path(post.user) %>
                </p>
                </div>
                <hr>
              </div>
              <% end %>
            <% end %>
            </div>
           </div>
          <br>
            <div style="background:#192231; border-radius:5px; padding:10px;">
              <h5> Current Tasks (<%= Task.where(:status => "inProg").where(:user => current_user).length %>): </h5>
               <% current_user.tasks.reverse_each do |task| %>
                 <% if task.status == "inProg" %>
                  <h5>
                   <%= link_to task.title, task %> for <%= link_to task.project.name, task.project %> (<b><%= task.job_type %></b>)
                  </h5>
                  <p>
                    Description: <%= task.description %>
                  </p>
                  <p>
                    <%= link_to "Mark as complete", task_progress_task_path(task), method: :put %>
                  </p>
                <hr>
                 <% end %>
               <% end %>
            </div>
        <% end %>
      <br>
<br>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
<style>
   pre {
      font-family: Roboto;
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
   }
</style>
