<h1>Edit your resume</h1>
<%= simple_form_for(@resume) do |f|  %>

  <%= f.input :name %>

  <%= f.input :location %>

  <%= f.input :email %>

  <%= f.input :phone_number %>

  <%= f.submit %>
<% end %>
<%= link_to "Cancel", @project %>
