<div id="projects">

  <%= current_user.email %>

  <div style="background:lightgray; border-radius:5px; padding:10px;">
   Account created on
   <%= current_user.created_at.strftime("%m/%d/%Y") %>
   <br>
   Completed Tasks:
    <br>
    <% @count = 0 %>
    <% current_user.tasks.each do |task| %>
      <% if task.status == "recent" %>
        > <%= link_to task.title, task %> ( <%= link_to task.project.name, task.project %> ) - <%= task.job_type %>
        <% @count = @count + 1 %>
        <br>
      <% end %>
    <% end %>
    Total Number of Completed Tasks:
    <%= @count %>
</div>
