<div id="projects">

  <%= @user.email %>

  <% @count = 0 %>
  <% @user.tasks.each do |task| %>
    <% if task.status == "recent" %>
      <% @count = @count + 1 %>
    <% end %>
  <% end %>

  <div style="background:lightgray; border-radius:5px; padding:10px;">
   Account created on
   <%= @user.created_at.strftime("%m/%d/%Y") %>
   <br>
   <br>
   Completed Tasks (
   <%= @count %>
   ):
    <br>
    <% @user.tasks.each do |task| %>
      <% if task.status == "recent" %>
        > <%= link_to task.title, task %> ( <%= link_to task.project.name, task.project %> ) - <%= task.job_type %>
        <br>
      <% end %>
    <% end %>
    <br>
    Current Tasks:
    <br>
    <% @user.tasks.each do |task| %>
      <% if task.status == "inProg" %>
        > <%= link_to task.title, task %> ( <%= link_to task.project.name, task.project %> ) - <%= task.job_type %>
        <br>
      <% end %>
    <% end %>
    <br>
</div>
