<div style = "margin:50px"
<h1>Account</h1>
<form>
  <center>
    <input type="file" accept="image/*" onchange="changePicture(event)"/>
    <canvas id="profilePicture" width="80" height="80" style = "display_img"></canvas>

    <%# <%=
    class Image < ActiveRecord::Base
      def img=(input_data)
        self.filename = input_data.original_filename
        self.filetype = input_data.content_type.chomp
        self.img = input_data.read
      end
    end

    class ImagesController < ApplicationController
      def display_img
        @img = Image.find(params[:id])
        send_data(@img.img, :type => @img.filetype, :filename => @img.filename, :disposition => 'inline')
      end
    end
    %> %>

  </center>
  <p>Username:</p>
  <p>Email:</p>
  <p>Games Posted: </p>
    <!-- <button type="button" onlick = "newPost()">Add Post</button> -->
    <%= form_for(@game_post) do |f| %>
    <%= f.submit "Add Post", class: "btn btn-primary" %>
    <%= redirect_to game_post/new %>
    <% end %>

    <%= form_for(@user) do |f| %>
    <%= f.label :Biography %>
    <%= f.submit "Edit Bio", class: "btn btn-primary" %>
    <% end %>
    <!-- <script type='text/javascript'> -->

      <%# <%=
      function changeBio()
      {
        $('#comment_link').click( function(){ $('#comment').fadeIn(); $('#comment_link').fadeOut(); });
      }
      %> %>

    <!-- </script>
  <a href="#" id='Bio'>Edit Bio</a>
  <div id='comment' style="display:none;">
  </div> -->
</form>
</div>
