<%= simple_form_for @project do |f| %>
  <%= render 'shared/projects_error_messages' %>
<label>Name of your project</label>
  <%= f.text_field :name, autocomplete: "off" %>
<!-- <label>Description</label> -->
  <%= f.input :description %>
  <style>
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #3F516B;
    border-radius: 4px;
    background-color: #3F516B;
    font-size: 16px;
    resize: none;
  }
  </style>
  <%= f.label :progress %>
  <br/>
  <%= f.select :progress, options_for_select(["Idea", "In Progress", "Completed"], @project.progress), prompt: "-select-"  %>
  <br>
  <br>
  <label>Add Project Image:</label>
  <br>
  <%= f.file_field :avatar %>
  <br/>
  <br/>

  <%= f.submit %>
<% end %>
