<div id="projects">
  <h1> Projects </h1>
  <%= link_to "New Project", new_project_path, class: "button" %>
  Sort By:
  <%= link_to 'Newest', :sort => "created_at" %>
  |
  <%= link_to 'A-Z', :sort => "name" %>
  |
  <%= link_to 'Z-A', :sort => "name_reverse" %>
  |
  <%= link_to 'Recently Updated', :sort => "updated_at" %>

  <br>
  <br>
    <%= form_tag project_index_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], autocomplete: "off", class: "form-control", placeholder: "Search for Title, Content, or Author" %>
    <% end %>

  <% @projects.each do |project| %>
    <div class="project">
      <div style="display: inline-block;">
        <%= link_to like_project_path(project), method: :put do %>
          <span style="border-radius:5px; background:green; color:white; display: inline-block; height:27px;">
          <%= image_tag('upvote.png', draggable:"false", id:"drag1") %>
          <%= project.get_upvotes.size  %>&nbsp;</span>
        <% end %>
        <span style="border-radius: 5px; display: inline-block; width:40px; background: lightgray; text-align: center;">
          <%= project.cached_votes_score %>
        </span>
      </div>
      <div style="display: inline-block;">
        <h2 class="title">
          <%= link_to project.name, project %>
        </h2>
        <p class="date">
          Published
          <%= time_ago_in_words(project.created_at) %>
          ago by
          <%= project.user.email %>
        </p>
      </div>
    </div>

  <% end %>
</div>
