<br>
<%= link_to "New Project", new_project_path, class: "button" %>
<br>
<br>
<div id="projects">
  <h1><font color=#E5E5E5> Projects </font></h1>
  <font color=#E5E5E5>Sort By: </font>
  <%= link_to 'Newest', :sort => "created_at", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'Most Popular', :sort => "popularity", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'A-Z', :sort => "name", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'Z-A', :sort => "name_reverse", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'Recently Updated', :sort => "updated_at", :search => params[:search] %>

  <br>
  <br>
    <%= form_tag project_index_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], autocomplete: "off", class: "form-control", placeholder: "Search for Title, Content, or Author" %>
    <% end %>
  <br>
  <%= paginate @projects %>
  <% @projects.each do |project| %>
    <div class="project">
      <div style="display: inline-block;">
        <%= link_to like_project_path(project), method: :put do %>
          <span style="border-radius:5px; background:#59a86a; color:#131c29; display: inline-block; width:40px; text-align:left">
            &nbsp;▲&nbsp;
          <%=  project.get_upvotes.size  %></span>
        <% end %>
      </div>
      <div style="display: inline-block; padding-left: 1%;">
        <h2 class="title">
          <%= link_to project.name, project %>
        </h2>
        <p class="date">
          Published
          <%= time_ago_in_words(project.created_at) %>
          ago by
          <%= link_to project.user.email, user_resume_search_path(project.user) %>
        </p>
      </div>
    </div>

  <% end %>
</div>
