<div id="projects">
  <%= link_to "New Project", new_project_path, class: "button" %>
  Sort By:
  <%= link_to 'Newest', :sort => "created_at" %>
  |
  <%= link_to 'A-Z', :sort => "name" %>
  |
  <%= link_to 'Z-A', :sort => "name_reverse" %>
  |
  <%= link_to 'Recently Updated', :sort => "updated_at" %>

  <br>
  <br>
    <%= form_tag project_index_path, :method => 'get' do %>
      <%= text_field_tag :title_search, params[:title_search], class: "form-control", placeholder: "Search Title" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
      <%= link_to 'Clear Search', project_index_path, class: "button" %>
    <% end %>

    <%= form_tag project_index_path, :method => 'get' do %>
       <%= text_field_tag :body_search, params[:body_search], class: "form-control", placeholder: "Search Body" %>
       <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
       <%= link_to 'Clear Search', project_index_path, class: "button" %>
    <% end %>

    <%= form_tag project_index_path, :method => 'get' do %>
      <%= text_field_tag :author_search, params[:author_search], class: "form-control", placeholder: "Search Author" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
      <%= link_to 'Clear Search', project_index_path, class: "button" %>
    <% end %>

    <% @projects.each do |project| %>
      <div class="project">
        <h2 class="title">
          <%= link_to project.name, project %>
        </h2>
        <p class="date">
          Published
          <%= time_ago_in_words(project.created_at) %>
          ago by
          <%= project.user.email %>
        </p>

        <%= link_to like_project_path(project), method: :put do %>
        <span style="border-radius:5px; background:green; color:white; display: inline-block; height:27px;">
        <%= image_tag('upvote.png', draggable:"false", id:"drag1") %>
          <%= project.get_upvotes.size  %>&nbsp;</span>
        <% end %>
        <p>Total Rating: <%= project.get_upvotes.size %></p>
      </div>


  <% end %>
</div>
