<div id="projects">
  <%= link_to "New Project", new_project_path, class: "button" %>
  Sort By:
  <%= link_to 'Newest', :sort => "created_at" %>
  |
  <%= link_to 'A-Z', :sort => "name" %>
  |
  <%= link_to 'Z-A', :sort => "name_reverse" %>
  |
  <%= link_to 'Recently Updated', :sort => "updated_at" %>

  <%= form_tag(project_index_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search Title' %>
  <% end %>

    <% @projects.each do |project| %>
      <div class="project">
        <h2 class="title">
          <%= link_to project.name, project %>
        </h2>
        <p class="date">
          Published
          <%= time_ago_in_words(project.created_at) %>
          ago by
          <%= project.user.email %>
        </p>

        <%= link_to like_project_path(project), method: :put do %>
        <span style="border-radius:5px; background:green; color:white; display: inline-block; height:27px;">
        <%= image_tag('upvote.png', draggable:"false", id:"drag1") %>
          <%= project.get_upvotes.size  %>&nbsp;</span>
        <% end %>
        <p>Total Rating: <%= project.get_upvotes.size %></p>
      </div>


  <% end %>
</div>
