<style>
  .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  top: 1;
  left: 0;
  background-color: #131c29; /* Black */
  padding-top: 10px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
    width: 95%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }

  .sidenav a:hover {
    color: #3e764a;
  }

  .back_link {
    background-color: #3F516B
  }

  .info_link {
    background-color: #59a86a;
  }

  .available_tasks_link {
    background-color: #192231
  }

  .hub_link {
    background-color: #192231
  }

  /* When you mouse over the navigation links, change their color */
</style>
<%= render 'sidebar' %>
<div id="project_content">
  <h1 style="display: inline">
    <%= @project.name %>
  </h1>
  <div style="display: inline">
    by &nbsp;
    <div id="thumbnail" style="display: inline;">
      <% if @project.user.resume  != nil %>
        <%= image_tag @project.user.resume.avatar.standard.url %>
      <% else %>
        <%= image_tag('no_avatar.jpg', draggable: false) %>
      <% end %>
      <h5 style="display: inline">
        <% if @project.user.resume == nil %>
          <%= link_to @project.user.email, user_resume_search_path(@project.user) %>
        <% else %>
          <%= link_to @project.user.resume.name, user_resume_search_path(@project.user) %>
        <% end %>
      </h5>
    </div>
  </div>
  <div id="project-image">
    <%= image_tag @project.avatar %>
  </div>
  <div id="info">
  <p></p>
  <div style="display: flex">
    <div id="rcorners2-team">
      <label>Team:</label>
        <% @project.team_members.each do |member| %>
          <div id="thumbnail" style="padding-left: 12%; padding-top: 4px;">
            <% if User.find(member).resume  != nil %>
              <%= image_tag User.find(member).resume.avatar.standard.url %>
            <% else %>
              <%= image_tag('no_avatar.jpg', draggable: false) %>
            <% end %>
            <h5  style="display: inline; padding-left: 3%">
              <% if User.find(member).resume == nil %>
                <%= link_to User.find(member).email, user_resume_search_path(member) %>
              <% else %>
                <%= link_to User.find(member).resume.name, user_resume_search_path(member) %>
              <% end %>
            </h5>
          </div>
        <% end %>
    </div>
    <p></p>
    <div id="rcorners2-default">
      <label>Description:<label>
      <h5><%= @project.description %></h5>
      <br>
      <p><label>Progress:&nbsp;</label><b><%= @project.progress %> </b></p>
    </div>
  </div>
  <br>
  <div style="height: 1px; width: 100%; background: #2a3953; margin-bottom: 1%"></div>
  <% if current_user.id == @project.user_id %>
    <%= link_to "Edit", edit_project_path(@project) %>
    &nbsp;
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to do this ?" } %>
  <% end %>
</div>
