<style>
  .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  top: 1;
  left: 0;
  background-color: #131c29; /* Black */
  padding-top: 10px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
    width: 95%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }

  .sidenav a:hover {
    color: #3e764a;
  }

  .back_link {
    background-color: #3F516B
  }

  .info_link {
    background-color: #59a86a;
  }

  .available_tasks_link {
    background-color: #192231
  }

  .hub_link {
    background-color: #192231
  }

  /* When you mouse over the navigation links, change their color */
</style>
<%= render 'sidebar' %>
<div id="project_content">
  <h1>
    <%= @project.name %>
  </h1>
  <div id="info">
    <h4>
      <%= @project.description %>
    </h4>

    <div id="rcorners2">
      <label>Author:</label>
      <h5><%= @project.user.email %></h5>
    </div>
  <p></p>

    <div id="rcorners2">
      <label>Team:</label>
        <% @project.team_members.each do |member| %>
          <h5><%= member %></h5>
        <% end %>
    </div>
    <p></p>

    <div id="rcorners2">
      <label>Progress:<label>
      <h5><%= @project.progress %></h5>
    </div>
    <p></p>
  </div>
  <% if current_user.id == @project.user_id %>
    <%= link_to "Edit", edit_project_path(@project), class: "button" %>
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to do this ?" }, class: "button" %>
  <% end %>
</div>
