<div id="project_content">
  <%= link_to "Back to Games", project_index_path, class: "button" %>
  <h1>
    <%= @project.name %>
  </h1>
  <h4>
    <%= @project.description %>
  </h4>
  Author:
  <h5>
    <%= @project.author %>
  </h5>
  Team:
  <h5>
    <%= @project.team_members %>
  </h5>
  Progress:
  <h5>
    <%= @project.progress %>
  </h5>
  <br/>
  <hr/>
  <br/>
  <% if current_user.id == @project.user_id %>
    <%= link_to "Edit", edit_project_path(@project), class: "button" %>
    <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to do this ?" }, class: "button" %>
  <% end %>
</div>
