  <br>
<div id="posts">
  <div style="display: flex; width: 100%">
    <div style="width: 50%; flex: 1">
    <h1><font color=#E5E5E5>Posts</font></h1>
    </div>
    <div style="width: 50%; text-align: end">
      <br>
      <br>
      <%= link_to "New Post", new_post_path, class: "button" %>
    </div>
  </div>
  <font color=#E5E5E5>Sort By: </font>
  <%= link_to 'Newest', :sort => "created_at", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'Most Popular', :sort => "popularity", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'A-Z', :sort => "name", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'Z-A', :sort => "name_reverse", :search => params[:search] %>
  <font color=#E5E5E5> | </font>
  <%= link_to 'Recently Updated', :sort => "updated_at", :search => params[:search] %>
<br>
<br>
  <%= form_tag post_index_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], autocomplete: "off", class: "form-control", placeholder: "Search for Title, Content, or Author" %>
  <% end %>
<br>
  <%= paginate @posts %>
  <% @posts.each do |post| %>
    <div class="post">
      <div style="display: inline-block;">
        <span style="border-radius:5px; color:white; display: block; width:40px; text-align: center;">
        <%= link_to like_post_path(post), method: :put do %>
        	▲</span>
        <% end %>
        <span style="border-radius: 5px; color:#131c29; display: inline-block; width:40px; background: #59a86a; text-align: center;">
          <%= post.cached_votes_score %>
        </span>
        <span style="border-radius:5px; color:white; display: block; width:40px; text-align: center;">
        <%= link_to dislike_post_path(post), method: :put do %>
        	▼</span>
        <% end %>
      </div>
      <div style="display: inline-block; padding-left: 1%; width: 50%">
      <h2 class="title">
        <%= link_to post.title, post %>
      </h2>
      <p class="date" style="display: inline">
        Published
        <%= time_ago_in_words(post.created_at) %>
        ago by
      </p>
      <div id="thumbnail" style="display: inline;">
        <% if post.user.resume != nil %>
          <% if post.user.resume.avatar != nil %>
            <%= image_tag post.user.resume.avatar.standard.url %>
          <% else %>
            <%= image_tag('no_avatar.jpg', draggable: false) %>
          <% end %>
        <% else %>
          <%= image_tag('no_avatar.jpg', draggable: false) %>
        <% end %>
        <h5 style="display: inline">
          <% if post.user.resume == nil %>
            <%= link_to post.user.email, user_resume_search_path(post.user) %>
          <% else %>
            <%= link_to post.user.resume.name, user_resume_search_path(post.user) %>
          <% end %>
        </h5>
      </div>
      </div>
    </div>

  <% end %>
</div>
