<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2 class="title">
        <%= link_to post.title, post %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(post.created_at) %>
        <%= post.user.email %>
      </p>
    </div>

	<%= link_to like_post_path(post), method: :put do %>
  <img src="app/assets/images/upvote.png"
  <%= post.get_upvotes.size %>
	<% end %>

	<%= link_to dislike_post_path(post), method: :put do %>
  <img src="app/assets/images/downvote.png"
  <%= post.get_downvotes.size %>
	<% end %>

  <% end %>
</div>
