<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2 class="title">
        <%= link_to post.title, post %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(post.created_at) %>
        <%= post.user.email %>
      </p>
    </div>

	<%= link_to like_post_path(post), method: :put do %>
  <span style="border-radius:5px; background:green; color:white;" class="v"> <b>&nbsp;↑</b>
  <%= post.get_upvotes.size  %> </span>
	<% end %>

	<%= link_to dislike_post_path(post), method: :put do %>
  <span style="border-radius:5px; background:red; color:white" class="v"> <b>&nbsp;↓</b>
  <%= post.get_downvotes.size  %></span>
	<% end %>

  <% end %>
</div>
