<script>
  function renderCommentForm() {
    var x = document.getElementById("commentForm");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<br>
<br>

<%= link_to "Back to forum", post_index_path, class: "button" %>
<br>
<br>
<br>

<div id="post_content">

  <h1>
    <%= @post.title %>
  </h1>
  <h4>
    <%= @post.content %>
  </h4>
  <p>Author: <b><%= link_to @post.author, user_resume_search_path(@post.user_id) %></b></p>
  <br>
  <% if current_user.id == @post.user_id %>
    <%= link_to "Edit", edit_post_path(@post), class: "button" %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" }, class: "button" %>
  <% end %>
  </div>

  <br>

<div id="post_content">
  <div id="comments">
    <h2>
        <font color="#E5E5E5">
      <%= @post.comments.count %>
      Comments:
        </font>
    </h2>
    <div style="overflow: auto; height: auto; max-height: 420px">
      <%= render @post.comments %>
    </div>
  <% if user_signed_in? %>
    <button onclick="renderCommentForm()">Reply to Post</button>
    <div id="commentForm" style="display: none">
      <div id="postForm">
      <%= render "comments/form" %>
      </div>
    </div>
  </div>
  <% end %>
  <br>
  <br>
</div>
