<script>
  function renderCommentForm() {
    var x = document.getElementById("commentForm");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<style>
  .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  top: 1;
  left: 0;
  background-color: #131c29; /* Black */
  padding-top: 10px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
    width: 95%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }

  .sidenav a:hover {
    color: #3e764a;
  }

  .back_link {
    background-color: #3F516B
  }
</style>
<div class="sidenav">
<%= link_to "Back to Forum", post_index_path, class: "back_link" %>
</div>

<div id="post_content">

  <h1 style="display: inline; margin-right: .5%"><%= @post.title %></h1>
  <div style="display: inline">
    by &nbsp;
    <div id="thumbnail" style="display: inline;">
      <% if @post.user.resume != nil %>
        <% if @post.user.resume.avatar  != nil %>
          <%= image_tag @post.user.resume.avatar.standard.url %>
        <% else %>
          <%= image_tag('no_avatar.jpg', draggable: false) %>
        <% end %>
      <% else %>
        <%= image_tag('no_avatar.jpg', draggable: false) %>
      <% end %>
      <h5 style="display: inline">
        <% if @post.user.resume == nil %>
          <%= link_to @post.user.email, user_resume_search_path(@post.user) %>
        <% else %>
          <%= link_to @post.user.resume.name, user_resume_search_path(@post.user) %>
        <% end %>
      </h5>
    </div>
  </div>
  <h4>
    <%= @post.content %>
  </h4>
  <div style="height: 1px; width: 100%; background: #2a3953; margin-bottom: 1%"></div>
  <% if current_user.id == @post.user_id %>
    <%= link_to "Edit", edit_post_path(@post) %>
    &nbsp;
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" } %>
  <% end %>
  </div>

  <br>

<div id="post_content">
  <div id="comments">
    <h2>
        <font color="#E5E5E5">
      <%= @post.comments.count %>
      Comments:
        </font>
    </h2>
    <div style="overflow: auto; height: auto; max-height: 420px">
      <%= render @post.comments %>
    </div>
  <% if user_signed_in? %>
    <div id="commentForm" style="display: none;">
      <div id="postForm">
      <%= render "comments/form" %>
      </div>
      <br>
    </div>
    <button onclick="renderCommentForm()">Reply to Post</button>
  </div>
  <% end %>
  <br>
  <br>
</div>
