<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>GameHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"></link>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="w3-top">
    <header class="main_header clearfix">
      <div class="header_wrapper">

        <div id="logo">
          <p>
            <%= link_to "GameHub", root_path %>
          </p>
        </div>

        <div id="buttons">
          <% if user_signed_in? %>
            <%= link_to "Account", account_path %>
            <%= link_to "Forum", post_index_path %>
            <%= link_to "Games", project_index_path %>
            <%= link_to "Jobs", task_index_path %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </header>
  </div>

  <div class="wrapper">
    <%= yield %>
  </div>
</body>
